<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
 <html>
     <head>
         <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
     </head>
     <!-- <script>
    var status = '<%=data.registration%>';
    function submit() {
      if(status == '') {
        return;
      }
      var localhost = document.forms.localhost;
      localhost.submit();
    }
  </script> -->
     <body>
      
      <% if(data.accessToken){ %>
        <br><br><br><br>
        <!-- <center><h1>Authorization Successfull</h1></center> -->
        <center><h1>LinkedIn Access Token</h1></center>
        <br><br><br><br><br>
        <center><u>Please Copy and Paste Access Token Into Admin Console</u></center>
        <!-- <center><u>Please copy this code and paste it in admin console</u></center> -->
        <br><br><br><br>
        <center><b><%=data.accessToken%></b></center>   
       <% } else{ %>  
        <br><br><br><br>
        <center><h1>Invalid Credentials !</h1></center>
        <br><br><br><br>
        <!-- <center>Please Login With Correct Credentials</center> -->
        <!-- <center><h1>LinkedIn Access Token</h1></center> -->
      <% } %>
      <br>
      <!-- <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Access Token</div>
        <div class="col-sm-9"><b><%=data.accessToken%></b></div>
      </div> -->
       <!--  <form style="display:none" method="post" action="http://localhost/callback?status='<%=data.registration%>'" name="localhost">
            <input type="submit" value="Submit" /></td>
         </form> -->
     </body>
 </html>
         