<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
 <html>
     <head>
         <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
     </head>
     <body style="padding:0vw 15vw">

     <%if(data.platform=='google_analytics'){ %>

        <br><br>
        <center><b style="text-transform:capitalize; font-size:200%">Google Analytics Guidelines</b></center>  
        <br><br>
          <center><p align="left">Login With Registered Gmail Account</p>
            <p  style="border-style:outset;width:50%"><b style="color:red">Note:- Please Ensure that you are using Registered Gmail Account Who Have Tracking Code Which Include In the Site. If you are not authorised Person for this Then Ask From Admin To Authorised you Through for analytics.</b></p>
          </center> 

         <center><b style="text-transform:capitalize; font-size:150%">Go to the <b style="color:red">console.developers.google.com</b> </b></center>   
        <h2>Step 1</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide.png" style="width:90vw">

        <h2>Step 2</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide2.png" style="width:90vw">
        
        <h2>Step 3</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide3.png" style="width:90vw">

        <h2>Step 3(a)</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide3(a).png" style="width:90vw">

        <h2>Step 3(b)</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide3(b).png" style="width:90vw">
        
        <h2>Step 4</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide4.png" style="width:90vw">
        
        <h2>Step 5</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide5.png" style="width:90vw">
        
        <h2>Step 6</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide6.png" style="width:90vw">
        
        <h2>Step 7</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide7.png" style="width:90vw">


        <h2>Step 7(a)</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide7(a).png" style="width:90vw">

         <p style="color:red">If You Already Have Api Key Then Ignore Step 8 and Step 9</p>
        <h2>Step 8</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide8.png" style="width:90vw">
        
        <h2>Step 9</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide9.png" style="width:90vw">
        
        <h2>Step 10</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide10.png" style="width:90vw">
        
        <h2>Please ignore Steps 11 if you already have an account.</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide10(a).png" style="width:90vw">
        


        <h2>Please ignore Steps 12 to 14 if you already have created tracking code.</h2>
        <h2>Step 12</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide10(b).png" style="width:90vw">
        
        <h2>Step 13</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide10(c).png" style="width:90vw">
        
        <h2>Step 14</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide10(d).png" style="width:90vw">
        

        <h2>Please ignore Steps 15 to 16 if you already include tracking code in script.</h2>
        <h2>Step 15</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide11.png" style="width:90vw">
        
        <h2>Step 16</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide12.png" style="width:90vw">



        <h2>Step 17</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide12(a).png" style="width:90vw">


        <h2>Step 18</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide12(b).png" style="width:90vw">
        
        <h2>Step 19</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide13.png" style="width:90vw">
        
        <h2>Step 19(A)</h2>

         <h2 style="color:red">To Enable Demographics and Interests reports go Below Link:--</h2></br></br>
          <!-- <a href="https://support.google.com/analytics/answer/2819948?hl=en"></a> -->
          https://support.google.com/analytics/answer/2819948?hl=en
        <h2>Step 20</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/googleScreenGuide14.png" style="width:90vw">
        
        <h2>Steps for Google Webmaster :</h2>




        <p style="colo:red">Visit www.google.com/webmasters  and Sign In With Your Registered Gmail Account</p>
        <h2>Step 21</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster(a).png" style="width:70vw">
        <h2>Step 22</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster1.png" style="width:70vw">
        
        <h2>Step 23</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster2.png" style="width:70vw">
        
        <h2>Step 24</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster3.png" style="width:70vw">
        
        <h2>Step 25</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster4.png" style="width:70vw">
        
        <h2>Step 26</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster5.png" style="width:70vw">
        
        <h2>Step 27</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster5(a).png" style="width:70vw">
        
        <h2>Step 28</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster5(b).png" style="width:70vw">
        
        <h2>Step 29</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster6.png" style="width:70vw">
        
        <h2>Step 30</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster7.png" style="width:70vw">
        
        <h2>Step 31</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster8.png" style="width:70vw">
        
        <h2>Step 32</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster9.png" style="width:70vw">
        
        <h2>Step 33</h2>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/webmaster10.png" style="width:70vw">

        <h2>Step 34</h2>
            open follow Url To enable Google Search Console URL Testing Tools API
          <p>https://console.developers.google.com/apis/api/searchconsole.googleapis.com</p>
        <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/MobileFriendly.png" style="width:70vw">
        
        
      <% }%>

      <%if(data.platform=='facebook'){ %>
        <br><br>
        <center><b style="text-transform:capitalize; font-size:200%"><%=data.platform%> Guidelines</b></center>  
        <br><br>
        1. This FB account should be the same account, which has Admin rights on the FB page, whose analytics are needed.
        <br><br>
        2. Create your app on <a href="https://developers.facebook.com" target="_blank">https://developers.facebook.com</a>
        <br><br>
         <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/createApp.png">
          </center>
          <br><br>
        3.  Enter company name, contact email, select category. Then click on create App Id.
        <br><br>
         <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/createAppId.png">
          </center>
          <br><br>
        4. Then enter the captcha and click on Submit, as shown below :-
        <br><br>
        <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/captcha.png">
          </center>
          <br><br>
        5. Make sure the appid and facebook login option is showing in your dashboard. Click on facebook login option .         
        <br><br>
         <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/dashboard.png">
          </center>
          <br><br>
        6. If facebook login option is not showing click <b> +ADD PRODUCT</b> and then click on <b> FACEBOOK LOGIN </b> option which is showing. Now click on setting option which is under the FACEBOOK LOGIN tab of the side menu.
        <br><br>
        7. Enable Web OAuth Login  and enter your redirect Uri <b> http://api.hidigify.com/v2/admin/project/fbredirectcode</b> <--copy this url and paste in <b>Valid OAuth redirect URIs </b> option and save .
        <br><br>
         <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/redirectUri.png">
          </center>
          <br><br>
        8. Click on  app review button and make your app public .
        <br><br>
        <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/makeAppPublic.png">
          </center>
          <br><br>
        9. Copy your App Id and App Secret for use. To copy app secret, click on show button and authenticate by entering your facebook password to show app Secret.
        <br><br>
        <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/appsecret.png">
          </center>
       <b> NOTE:- when you click the facebook connect button. it will open your facebook account and ask for some permissions you have to click ok or yes to give permission if you click no or reject then you will not get access token </b>
      <% }%>

      <%if(data.platform=='linkedin'){ %>
        
        <br><br>
        <center><b style="text-transform:capitalize; font-size:200%"><%=data.platform%> Guidelines</b></center>  
        <br><br>

        <p>
          1. If you have not already done so, <a href="https://www.linkedin.com/secure/developer?newapp=" target="_blank">create an application</a>. If you have an existing application, <a href="https://www.linkedin.com/secure/developer" target="_blank">select it</a> to modify its settings.
        </p>
        <br>
        
        <p>
          2. Fill in the required details and click on Submit.
        </p>
        <br>
        
        <p>
          3. Once you save your configuration, your application will be assigned a unique "Client ID" and "Client Secret" value. Make note of these values — you will need to integrate them into the admin panel, for example:
          <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/screen4.png">
          </center>
        </p>
        
        <p>
          4. Under Default Application Permissions Tick All the Fields as shown below.
          <br>
          <center>
            <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/screen2.png">
          </center>
        </p>
        
        <p>
          <br>
          5. Add the following as Authorized Redirect URLs :
            <span style="color:red">http://api.hidigify.com/v2/admin/linkedin</span> and click on add button as shown below.
            <!-- <span style="color:red">http://52.66.121.39:5200/api/v1/admin/linkedin</span> and click on add button as shown below. -->
            <br>
            <center>
              <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/screen32.png">
            </center>
        </p>
        
        <p>
          6. Click Update button to save all the details.
        </p>

        <br>
        <p>
          7. Now open the company page for which the analytics details are required. Copy the company id from the url and paste it in admin console. In this case the company id is <b>5743890</b>.
          <br><br><br>
          <img src="https://s3-ap-southeast-1.amazonaws.com/hashtag2/guidelines/screen6.png" style="width:100%">
          
        </p>
        
      <% }%>

      <%if(data.platform=='youtube'){ %>
        <!-- <center><b><%=data.platform%></b></center>    -->
        <center><b>YouTube analytics steps (for getting api key and Channel ID ) </b></center>
        <br>
        <p><b>1. This YouTube account should be the same account, which has Channel, whose analytics are needed.</b>
        </p>
        <br><br>
       <p> 2. Go to this url and create project - <a href="https://console.developers.google.com" target="_blank">https://console.developers.google.com</a>
       </p>

       <p>
        3.  After creating project go to credentials option in the side menu and click on create credentials button. This will open a dropdown. You have to select api key option.
        <br><br>
        4. Api key will be generated. Copy that api key. 
       </p>

       <p>
        5. Go to Library option on side menu under YouTube APIs. Then click on YouTube Data API link & YouTube Analytics API
       </p>

       <p>
        6. Enable both the api. 
       </p>
        <center><b>Steps for creating channel </b></center>

        <p>
          1. Open your youtube account.
          <br><br>
          2. Click on settings button.
          <br><br>
          3. Click on create channel link which is showing at bottom of page. 
          <br><br>
          4. Enter your brand name. This will be your channel name . 
           <br><br>
          5. You can add channel description.(optional) 
        </p>
        <p>
          6. Go to advanced settings of your channel <a href="https://www.youtube.com/account_advanced" target="_blank">https://www.youtube.com/account_advanced</a>
        </p>
        <p>
          7. You will get channel id . 
        </p>

      <% }%>

     </body>
 </html>
         